# Ignore the .vscode directory, which contains user-specific settings
.vscode

# Do not ignore node_modules directory (it's needed for the extension to work)
# node_modules

# Ignore source directories
src/

# Ignore configuration files
tsconfig.json
webpack.config.js
esbuild.js
obfuscator-config.json